<aside class="aside">
  <div class="aside__author">
    <img class="aside__author-img" src="assets/images/IMG_6118.jpg" alt="Avatar Hobbies">
    <h3 class="aside__author-title">Coco</h3>
    <p class="aside__author-text">
      Hola! Soy Coco! Y uno de mis hobbies es la cocina! Además de ....
      Espero disfrutes mi blog y las recetas que publico! :)
    </p>
  </div>
  <div class="aside__links">
    <ul class="aside__links-list">
      <li class="aside__links-list-item">
        <a class="aside__links-to" href="#">Sección 1</a>
      </li>
      <li class="aside__links-list-item">
        <a class="aside__links-to" href="#">Sección 2</a>
      </li>
      <li class="aside__links-list-item">
        <a class="aside__links-to" href="#">Sección 3</a></li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 4</a>
      </li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 5</a>
      </li>
      <li class="aside__links-list-item">
        <a class="aside__links-to" href="#">Sección 6</a>
      </li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 7</a>
      </li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 8</a>
      </li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 9</a>
      </li>
      <li class="aside__links-list-item">
          <a class="aside__links-to" href="#">Sección 10</a>
      </li>



    </ul>
  </div>
</aside>
