<main class="main">
  <div class="main__recepie-cont">
    <h2 class="main__recepie-title">Receta 1</h2>
    <p class="main__recepie-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quo ea ipsum? Ex, error impedit quibusdam, provident, repellat aliquam esse dignissimos dolore facere quas pariatur cumque ab animi natus iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae molestiae ad vitae impedit, consectetur placeat, eveniet at enim suscipit ut quaerat. Architecto ab magnam quas consectetur obcaecati facilis deleniti.</p>
  </div>
  <div class="main__recepie-cont">
      <h2 class="main__recepie-title">Receta 2</h2>
      <p class="main__recepie-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quo ea ipsum? Ex, error impedit quibusdam, provident, repellat aliquam esse dignissimos dolore facere quas pariatur cumque ab animi natus iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae molestiae ad vitae impedit, consectetur placeat, eveniet at enim suscipit ut quaerat. Architecto ab magnam quas consectetur obcaecati facilis deleniti.</p>
    </div>
    <div class="main__recepie-cont">
        <h2 class="main__recepie-title">Receta 3</h2>
        <p class="main__recepie-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quo ea ipsum? Ex, error impedit quibusdam, provident, repellat aliquam esse dignissimos dolore facere quas pariatur cumque ab animi natus iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae molestiae ad vitae impedit, consectetur placeat, eveniet at enim suscipit ut quaerat. Architecto ab magnam quas consectetur obcaecati facilis deleniti.</p>
      </div>

</main>
