.header__img-cont{
  background-color: blue;
  display: inline-block;
  height: 75px;

}
.header__img{
  max-width: 100%;
}
.header__title{
  color: $color-primary;
  font-family: $Font-Text-Pacifico;
  text-align: center;
}
