$color-primary: #cc0000;
$color-background: white;
$color-text: #333333;

$Font-Text-Montserrat: 'Montserrat', sans-serif;
$Font-Text-Pacifico: 'Pacifico', cursive;

$dotted-border: 3px dotted $color-primary;
